In [4]:
import pandas as pd
df = pd.read_csv(r"C:\Users\pc\Downloads\zomato_data.csv")
print(df.shape)

(51717, 10)

In [5]:
north_indian_count = df['cuisines'].str.contains('North Indian', case=False, na=False).sum()
print(north_indian_count)

21085

In [6]:
from collections import Counter
cuisine_list = df['cuisines'].dropna().str.split(', ')
cuisine_counts = Counter([cuisine for sublist in cuisine_list for cuisine in sublist])
most_common_cuisine = cuisine_counts.most_common(1)
print(most_common_cuisine)

[('North Indian', 21085)]

In [14]:
avg_cost = df.groupby('listed_intype')['approx_cost(for two people)'].mean().sort_values(ascending=False)
print(avg_cost.head(1))

KeyError: 'Column not found: approx_cost(for two people)'

In [8]:
print(df.columns)

Index(['online_order', 'book_table', 'rate', 'votes', 'rest_type',
       'dish_liked', 'cuisines', 'approx_costfor_two_people', 'listed_intype',
       'listed_incity'],
      dtype='object')

In [9]:
df.columns = df.columns.str.strip()

In [10]:
print(df.head())  
print(df.columns)

  online_order book_table   rate  votes            rest_type  \
0          Yes        Yes  4.1/5    775        Casual Dining
1          Yes         No  4.1/5    787        Casual Dining
2          Yes         No  3.8/5    918  Cafe, Casual Dining
3           No         No  3.7/5     88          Quick Bites
4           No         No  3.8/5    166        Casual Dining

                                          dish_liked  \
0  Pasta, Lunch Buffet, Masala Papad, Paneer Laja...
1  Momos, Lunch Buffet, Chocolate Nirvana, Thai G...
2  Churros, Cannelloni, Minestrone Soup, Hot Choc...
3                                        Masala Dosa
4                                Panipuri, Gol Gappe

                         cuisines approx_costfor_two_people listed_intype  \
0  North Indian, Mughlai, Chinese                       800        Buffet
1     Chinese, North Indian, Thai                       800        Buffet
2          Cafe, Mexican, Italian                       800        Buffet
3      South Indian, North Indian                       300        Buffet
4        North Indian, Rajasthani                       600        Buffet

  listed_incity
0  Banashankari
1  Banashankari
2  Banashankari
3  Banashankari
4  Banashankari
Index(['online_order', 'book_table', 'rate', 'votes', 'rest_type',
       'dish_liked', 'cuisines', 'approx_costfor_two_people', 'listed_intype',
       'listed_incity'],
      dtype='object')

In [11]:
df.columns = df.columns.str.strip().str.lower()

In [21]:
df['approx_costfor_two_people'] = df['approx_costfor_two_people'].astype(str).str.replace(',', '')
df['approx_costfor_two_people'] = pd.to_numeric(df['approx_costfor_two_people'], errors='coerce')
highest_avg_cost = df.groupby('listed_incity')['approx_costfor_two_people'].mean().idxmax()
print("Q4: Locality with highest avg cost:", highest_avg_cost)

Locality with highest avg cost: Church Street

In [17]:
print(df['rate'].unique())

['4.1/5' '3.8/5' '3.7/5' '3.6/5' '4.6/5' '4.0/5' '4.2/5' '3.9/5' '3.1/5'
 '3.0/5' '3.2/5' '3.3/5' '2.8/5' '4.4/5' '4.3/5' 'NEW' '2.9/5' '3.5/5' nan
 '2.6/5' '3.8 /5' '3.4/5' '4.5/5' '2.5/5' '2.7/5' '4.7/5' '2.4/5' '2.2/5'
 '2.3/5' '3.4 /5' '-' '3.6 /5' '4.8/5' '3.9 /5' '4.2 /5' '4.0 /5' '4.1 /5'
 '3.7 /5' '3.1 /5' '2.9 /5' '3.3 /5' '2.8 /5' '3.5 /5' '2.7 /5' '2.5 /5'
 '3.2 /5' '2.6 /5' '4.5 /5' '4.3 /5' '4.4 /5' '4.9/5' '2.1/5' '2.0/5'
 '1.8/5' '4.6 /5' '4.9 /5' '3.0 /5' '4.8 /5' '2.3 /5' '4.7 /5' '2.4 /5'
 '2.1 /5' '2.2 /5' '2.0 /5' '1.8 /5']

In [20]:
df['rate'] = df['rate'].astype(str)
df['rate'] = df['rate'].str.extract(r'(\d+\.\d+)').astype(float)
high_votes = df[df['votes'] > 1000]
top_rated = high_votes.groupby('rest_type')['rate'].mean().sort_values(ascending=False)
print(top_rated.head(1))

rest_type
Bakery    4.8
Name: rate, dtype: float64

In [25]:
import pandas as pd
min_cost = df['approx_costfor_two_people'].min()
result = pd.DataFrame({"Minimum Cost": [f"₹{int(min_cost)}"]})
print(result)

  Minimum Cost
0          ₹40

In [28]:
import pandas as pd
result = pd.DataFrame({
    "Metric": ["Total Online Orders", "Online Orders from Banashankari", "Percentage of Online Orders"],
    "Value": [total_online, banashankari_online, f"44%"]
})
print(result)

                            Metric  Value
0              Total Online Orders  30444
1  Online Orders from Banashankari    546
2      Percentage of Online Orders    44%

In [29]:
filtered_df = df[(df['votes'] > 500) & (df['rate'] < 3.0)]
top_locality = filtered_df['listed_incity'].value_counts().idxmax()
print("Locality with most such restaurants:", top_locality)

Locality with most such restaurants: Brookefield

In [31]:
rest_type_diversity = df.groupby('listed_incity')['rest_type'].nunique()
most_diverse = rest_type_diversity.idxmax()
print("Q9: Locality with most diverse restaurant types:", most_diverse)

Q9: Locality with most diverse restaurant types: BTM

In [32]:
buffet_avg = df[df['listed_intype'] == 'Buffet']['approx_costfor_two_people'].mean()
delivery_avg = df[df['listed_intype'] == 'Delivery']['approx_costfor_two_people'].mean()
cost_diff = abs(buffet_avg - delivery_avg)
print("Q10: Average cost difference (Buffet vs Delivery): ₹", int(cost_diff))

Q10: Average cost difference (Buffet vs Delivery): ₹ 842

In [34]:
max_votes_online = df[df['online_order'] == 'Yes']['votes'].max()
print("Q11: Max votes (online order):", max_votes_online)

Q11: Max votes (online order): 16832

In [35]:
both_cuisines = df[
    df['cuisines'].str.contains('North Indian', na=False) & 
    df['cuisines'].str.contains('Chinese', na=False)
]
avg_rate_both = round(both_cuisines['rate'].mean(), 2)
print("Q12: Avg rating (North Indian + Chinese):", avg_rate_both)

Q12: Avg rating (North Indian + Chinese): 3.57

In [38]:
df['approx_costfor_two_people'] = df['approx_costfor_two_people'].replace({',': '', '₹': ''}, regex=True).astype(float)

In [39]:
df['revenue'] = df['approx_costfor_two_people'] * df['votes']

In [40]:
revenue_by_location = df.groupby('listed_incity')['revenue'].sum().sort_values(ascending=False)
print(revenue_by_location.head(1))

listed_incity
Koramangala 7th Block    1.001584e+09
Name: revenue, dtype: float64

In [42]:
avg_rating_by_type = df.groupby('rest_type')['rate'].mean().sort_values()
print(avg_rating_by_type.head(1))

rest_type
Dessert Parlor, Kiosk    3.0
Name: rate, dtype: float64

In [50]:
import pandas as pd

# Load the dataset
df = pd.read_csv(r"C:\Users\pc\Downloads\zomato_data.csv")

# Clean the 'rate' column to extract numeric values
df['rate'] = df['rate'].astype(str).str.extract(r'(\d+\.\d+)')
df['rate'] = pd.to_numeric(df['rate'], errors='coerce')

# Clean the 'approx_costfor_two_people' column to remove commas and convert to numeric
df['approx_costfor_two_people'] = df['approx_costfor_two_people'].astype(str).str.replace(',', '')
df['approx_costfor_two_people'] = pd.to_numeric(df['approx_costfor_two_people'], errors='coerce')

# Filter restaurants based on the given criteria
filtered_df = df[
    (df['rate'] > 4.2) &
    (df['votes'] > 500) &
    (df['online_order'].str.lower() == 'yes')
]

# Count the number of such restaurants per location
location_counts = filtered_df['listed_incity'].value_counts()

# Identify the top location
top_location = location_counts.idxmax()

print("15: Top location for investment:", top_location)

15: Top location for investment: Koramangala 7th Block